
:root {
    /*COLORS*/
    /* primary */
    --soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    /* neutral */
    --very-dark-blue-mbg: hsl(217, 54%, 11%);
    --very-dark-blue-cbg: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    --font: 'Outfit', sans-serif;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
html {
    
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    background-color: var(--very-dark-blue-mbg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--white);
    font-family: var(--font);
}
/* END OF CSS RESET */
.card-main {
    background-color: var(--very-dark-blue-cbg);
    max-height: 60rem;
    max-width: 35rem;
    padding: 2rem;
}
.img-section {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.img-section img{
    width: 100%;
    height: auto;
}

.info-section  h1{
    font-weight: 600;
   
}
.info-section p {
    font-weight: 300;
    margin: 1rem 0;
}
.info-section .info-stat {
    display: flex;
   justify-content: space-between;
  
   margin-bottom: 2rem;
   border-bottom: 1px solid  var(--white);

}
.info-section .info-stat h2 {
    color: var(--Cyan);
    font-weight: 600;
}
.info-stat img {
    margin-right: 1rem;
}